apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: web-app
  namespace: emojivoto
  labels:
    app.kubernetes.io/name: web-app
    app.kubernetes.io/part-of: emojivoto
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-app
  strategy:
    canary:
      stableService: web-app
      canaryService: web-app-canary
      steps:
      - setWeight: 10
      - pause:
          duration: 10
      trafficRouting:
        ambassador:
          mappings:
          - web-app
  template:
    metadata:
      labels:
        app: web-app
        revision: 2021-09-23.01
    spec:
      containers:
      - env:
        - name: WEB_PORT
          value: "80"
        - name: INDEX_BUNDLE
          value: dist/index_bundle.js
        image: datawire/emojivoto-web-app:v11.1
        imagePullPolicy: Always
        name: web-app
        ports:
        - containerPort: 80
          name: http
        resources:
          requests:
            cpu: 100m
      serviceAccountName: web-app
